<div class="kuiView">
  <div class="kuiViewContent">
    <div
      class="kuiViewContentItem">
      <div class="kuiHeaderBar">
        <div class="kuiHeaderBarSection">
          <h2 class="kuiSubTitle">Notification Center</h2>
        </div>
        <div class="kuiHeaderBarSection">
          <div class="kuiText">
            <a class="kuiMenuButton kuiMenuButton--basic" ng-show="notifs.length" ng-click="notifs.remove()">Clear all {{notifs.length}} items</a>
          </div>
        </div>
      </div>
      <div class="kuiMenu kuiVerticalRhythm">
        <div class="kuiMenuItem" ng-show="!notifs.length">
          <p class="kuiText kuiSubduedText">
            No new notifications.
          </p>
        </div>
        <div
          class="kuiMenuItem"
          ng-repeat="notif in notifs | orderBy : 'timestamp' : true">
          <div class="kuiEvent">
            <div class="kuiEventSymbol">
              <span class="kuiIcon" ng-class="getNotificationClasses(notif)"></span>
            </div>
            <div class="kuiEventBody">
              <div class="kuiEventBody__message kuiActionItem">
                <kbn-truncated
                  ng-if="notif.content"
                  source="{{notif.content | markdown}}"
                  is-html="true"
                  length="250"
                ></kbn-truncated>
                <div class="kuiMenuButtonGroup">
                  <button
                    type="button"
                    class="kuiMenuButton kuiMenuButton--basic"
                    ng-click="notifs.remove(notif)">
                    Clear
                  </button>
                </div>
              </div>
              <div class="kuiEventBody__metadata kuiActionItem">
                <date>{{moment(notif.timestamp).format(dateFormat)}}</date>
                <div class="kuiMenuButtonGroup">
                  <button
                    type="button"
                    ng-if="notif.stack && !notif.showStackInCenter"
                    class="kuiMenuButton kuiMenuButton--basic"
                    ng-click="notif.showStackInCenter = true"
                  >More Info</button>
                  <button
                    type="button"
                    ng-if="notif.stack && notif.showStackInCenter"
                    class="kuiMenuButton kuiMenuButton--basic"
                    ng-click="notif.showStackInCenter = false"
                  >Less Info</button>
                  <button
                    type="button"
                    ng-if="notif.address"
                    class="kuiMenuButton kuiMenuButton--basic"
                    ng-click="notif.address()"
                  >Fix it</button>
                  <button
                    type="button"
                    class="kuiMenuButton kuiMenuButton--basic"
                    ng-repeat="action in notif.customActions"
                    ng-click="action.callback()"
                    ng-bind="action.key"
                  ></button>
                </div>
              </div>
            </div>
          </div>

          <div ng-if="notif.stack && notif.showStackInCenter">
            <div class="kuiMenuItem notification-stack" ng-repeat="stack in notif.stacks">
              <pre class="well well-sm" ng-bind="stack"></pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>